.logo {
  width: 200px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.title {
  font-size: 18px;
  line-height: 64px;
  color: #fff;
  text-align: right;
  padding-right: 15px;
}

/* 页面整体高度 */
.site-layout-background {
  height: 100%;
  width: 100%;
}